[submodule "readstat"]
	path = libreadstat
	url = ../ReadStat.git
	branch = master
[submodule "libcsv"]
	path = libcsv
	url = ../libcsv.git
	branch = master
[submodule "librdata"]
	path = librdata
	url = ../librdata.git
